{% extends "base.html" %}

{% block content %}
<div style="padding-left:100px; padding-right:100px;">
  <h1><span style="font-weight:bold">Users</span> </h1>
    <!-- this is add role to existing user, not create a new user -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createUser-Modal"><span class="glyphicon glyphicon-plus"></span> Create User</button>
<!-- for global user deletion --> 
{% include "deleteUserModal.html" %}


  <table class="table table-hover">
    <thead>
      <tr style="font-size:medium; font-weight:bold">
        <th class="col-md-2">Name</td>
        <th class="col-md-3">Enabled</td>
        <th class="col-md-3">Email</td>
      </tr>
    </thead>

    {% for user in users %}
      <tr>
        <td style="font-size:medium">
	  <button class="btn btn-primary chosenUser" data-toggle="modal" data-target="#editUser-Modal" value="{{ user.id }}">{{ user.name }}</button>
	</td>
        <td>{{ user.enabled }}</td>
        <td>{{ user.email }}</td>
      </tr>
    {% endfor %}
  </table>
{% include "createUserModal.html" %}

<!-- Need extra space and so far these following two lines doesn't do anything except provide extra spacing. Will figure out how to add space there soon   -->
{% include "deleteUserModal.html" %}

{% include "editUserModal.html" %}
</div>
{% endblock %}
