{% extends "base.html" %}

{% block title %}{{request.session.username}}'s users{% endblock %}

{% block content %}
<div class="row vert-padded"></div>

<div class="container-fluid">
    <div class="col-md-8 col-centered">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default floating-block">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <h2 class="col-md-6 pull-left">  {{request.session.username}}'s <small>users</small></h2>
                            <div class="col-md-4 btn-group pull-right" role="group">
                               
                                <div class="sidebar-form">
                                    <form class="form-inline">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search Users">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-primary" aria-label:"leftalign">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                {% for user in user_list %}
                
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 btn-group pull-left">

                            <button type="button" class="btn btn-default" data-toggle="collapse" 
                            data-parent="#accordian" data-target="#{{user.name}}">
                                    <h4>{{user.name}}</h4>
                            </button>
                            <div class  = "col-md-6 pull-right">{{user.role_list}}</div>
                        </div>
                        <div class="col-md-4 btn-group pull-right" role="group">
                            <button type="button" class="btn btn-success" aria-label="Left Align" action="#dustVM">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> role
                            </button>
                            <button type="button" class="btn btn-primary" aria-label="Left Align" action="/clouds/">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> edit
                            </button>
                            <button type="button" class="btn btn-danger" aria-label="Left Align" action="#dustProject">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> delete
                            </button>
                        </div>
                    </div>
                </div>
                <div id="{{project.name}}" class="panel-collapse collapse">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>user name</td>
                                <td>user role</td>
                                <!-- <td>vm image</td>
                                <td>vm provider</td>
                                <td>controls</td> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.role_list}}</td>
                                <!-- <td>{{vm.image}}</td>
                                <td>{{vm.provider}}</td> -->
                                <td><div class="btn-group" role="group">
                                        {% if vm.state == 'off' %}
                                        <button type="button" class="btn btn-default btn-success" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                        </button>
                                        {% else %}
                                        <button type="button" class="btn btn-default btn-warning" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                        </button>
                                        {% endif %}
                                        <button type="button" class="btn btn-default btn-info" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-primary" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-danger" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                </div></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>

    

</div>
{% endblock %}

